{% extends "base.html" %}
{% load mytags %}
 {% block title %}  Feedbacks {% endblock %}
     
{% block content %} 
 
<h2> Feedbacks </h2><ul>
{%for item in items%}
    {% autoescape off %}
    {% comment "todo" %} 
    <pre>{% debug%}</pre>
    {% endcomment %}    
    {%if not item.submitter == "Robot" %} 
        <!--  display date as Tuesday, 05 May, 2022,  time:"I:M p" 
        on {{item.createdon | date:"l, d M, Y"}} 
        -->
        <li> Submitter : <strong> {{item.submitter | escape}} </strong> 
            at  <strong> {{item.createdon | mydate:True}} </strong> <br/>
            Body: {{item.body | escape}} 
        </li>
    {%else%}
    <li> Submitter : <strong> {{item.submitter | safe}} on {{item.createdon}} </strong> <br/>
        Body: {{item.body | escape}} 
    </li>

    {% endif%}
    <a href="{% url 'feedbackurl' item.pk %}"> view Feedback </a>
    <hr/>
    {% endautoescape %}
{%endfor%}
</ul>
{% endblock %}