{% extends "base.html" %}

 {% block title %}  Feedbacks {% endblock %}
     
{% block content %} 
 
<h2> Feedbacks </h2><ul>
{%for item in items%}
    {% autoescape off %}
        
    
    {%if not item.submitter == "Robot" %} 

        <li> Submitter : {{item.submitter | escape}} on {{item.createdon}} <br/>
            Body: {{item.body | escape}} 
        </li>
    {%else%}
    <li> Submitter : {{item.submitter | safe}} on {{item.createdon}} <br/>
        Body: {{item.body | escape}} 
    </li>

    {% endif%}
    <a href="{% url 'feedbackurl' item.pk %}"> view Feedback </a>
    <hr/>
    {% endautoescape %}
{%endfor%}
</ul>
{% endblock %}