{% extends "base.html" %}

{% block title %} List Products  {% endblock %}
     
{% block content %} 

    {% if messages %}
        <ul class="messages"> 
            {%for msg in messages%}
            <li> <div class="alert alert-error" role="alert">{{msg.message}}</div> </li>
            {%endfor%}
        </ul>
    {% endif %}

    <h3>List Products </h3><br/> <br/>
    <h3> Welcome {{ request.session.customer }} ! You have visited the website {{request.COOKIES.visits|default:"1"}} times.</h3>
    <div class="content">
    <table class="table table-bordered">
        <thead>
            <tr><th>
                Item
            </th></tr>
        </thead>
        <tbody>{% for item in items%}
            <tr><td>
                {{item}}
            </td></tr>{% endfor%}
        </tbody>
    </table>
</div>
    {% endblock %}