{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'store/style.css'%}" />
    <title> {% block title %} {% endblock %}</title>
    
</head>
<body>
    <h3> <a href="{% url 'index' %}"> Home page </a> </h3>
    
    {% block content %} 

    {% endblock %}
    <h4>
        <ul>
            
            <li>
            <a href="{% url 'productdetailurl' %}"> View Products </a> </li>
            <li>
            <a href="{% url 'relatedproducturl' %}"> View Related Produtcs </a> </li>
            <li>
                <a href="{% url 'customerfeedbackurl' %}"> Customer Feedback </a> </li>
            <li>
                <a href="{% url 'feedbacksurl' %}"> View Feedbacks </a> </li>
            <li>
            <a href="{% url 'logouturl' %}"> LogOut </a> 
            </li>
        
        </ul>
    </h4>
    
</body>
</html>